<header class="header">
  <div class="container-fluid mainnav">

    <div>
      <a class="mainnav-title" href="#news"><img class="mainnav-logo" src="/img/logo.png"></a>
    </div>

    <ul class="mainnav-list" id="myTopnav">
      <li class="mainnav-item mainnav-menu"><a class="mainnav-link" id="menu" href="javascript:void(0);" onclick="menuAppearence()">☰</a></li>
      <li class="mainnav-item"><a class="mainnav-link" href="#news">News</a></li>
      <li class="mainnav-item"><a class="mainnav-link" href="#contact">Contact</a></li>
      <li class="mainnav-item"><a class="mainnav-link" href="#about">About</a></li>
      <li class="mainnav-item"><a class="mainnav-link" href="#news">Equipe</a></li>
    </ul>

  </div>
</header>

<nav class="sidebar">
  <div class="sidebar-firstblock"></div>
  <a href="#" class="sidebar-link">News</a>
  <a href="#" class="sidebar-link">Contacts</a>
  <a href="#" class="sidebar-link">About</a>
  <a href="#" class="sidebar-link">Equipe</a>
</nav>
