$body-color : #FFF;

body {
  background: $body-color;
  margin: 0;
  padding: 0;
}
.container-body{
  padding-top: 70px;
  width: 100%;
  height: 100%;
  background: $body-color;
  clear: both;
}
.container-box{
  width: 100%;
  height: 100%;
  padding: 16px;
  clear: both;
}
