{% extends "base.html.twig" %}

{% block title %}
  <title>Title | Team</title>
{% endblock %}

{% set info = {'title': 'Team'} %}

{% block body %}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
