{% extends "base.html.twig" %}

{% block title %}
  <title>Title | Home</title>
{% endblock %}

{% set info = {'title': 'Home'} %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-4 col-md-4 col-lg-4">
      <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et. Quisque in eros lacinia, commodo nisl ut, pharetra magna. Proin feugiat posuere ante, ac dignissim mauris sollicitudin ac. Morbi vulputate massa vitae tristique congue. Nulla facilisi. Vivamus eu iaculis diam, in scelerisque ex. Aliquam volutpat mattis posuere. Fusce risus mi, commodo ac augue placerat, scelerisque condimentum ex. Nulla lobortis magna eu nulla porttitor, non scelerisque nulla pharetra.</p>
    </div>
    <div class="col col-sm-4 col-md-4 col-lg-4">
      <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et. Quisque in eros lacinia, commodo nisl ut, pharetra magna. Proin feugiat posuere ante, ac dignissim mauris sollicitudin ac. Morbi vulputate massa vitae tristique congue. Nulla facilisi. Vivamus eu iaculis diam, in scelerisque ex. Aliquam volutpat mattis posuere. Fusce risus mi, commodo ac augue placerat, scelerisque condimentum ex. Nulla lobortis magna eu nulla porttitor, non scelerisque nulla pharetra.</p>
    </div>
    <div class="col col-sm-4 col-md-4 col-lg-4">
      <p>Sed sollicitudin scelerisque quam, quis condimentum nisi porttitor at. Vivamus placerat nibh eget malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque pellentesque, ligula nec vulputate lobortis, libero diam tristique mauris, vel efficitur nisi elit a neque. Donec blandit vitae felis vitae scelerisque. Nam efficitur vehicula purus, ac sodales metus bibendum et. Quisque in eros lacinia, commodo nisl ut, pharetra magna. Proin feugiat posuere ante, ac dignissim mauris sollicitudin ac. Morbi vulputate massa vitae tristique congue. Nulla facilisi. Vivamus eu iaculis diam, in scelerisque ex. Aliquam volutpat mattis posuere. Fusce risus mi, commodo ac augue placerat, scelerisque condimentum ex. Nulla lobortis magna eu nulla porttitor, non scelerisque nulla pharetra.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-5">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
{% endblock %}
